/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .devops{
    background-color: lightblue;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }
  
  .devops h2{
    margin-left: 350px;
  }

  .devops p{
    margin-left: 350px;
  }

  .devops a{
    margin-left: 350px;
  }
  
  .devops img{
    margin-right: 1110px;
    margin-top: -180px;
    margin-bottom: 10px;
  }

  .devops a{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .basic{
    background-color: rgb(218, 127, 127);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }
  
  .basic{
    background-color: rgb(212, 115, 115);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }
  
  .basic h2{
    margin-left: 350px;
  }

  .basic p{
    margin-left: 350px;
  }

  .basic a{
    margin-left: 350px;
  }
  
  .basic img{
    justify-content: center;
    margin-right: 1060px;
    margin-top: -210px;
    margin-bottom: 10px;
  }

  .basic a{
    background-color: rgb(99, 99, 187);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .essent{
    background-color: rgb(86, 170, 86);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }
  
  .essent h2{
    margin-left: 350px;
  }

  .essent p{
    margin-left: 350px;
  }

  .essent a{
    margin-left: 350px;
  }
  
  .essent img{
    margin-right: 1000px;
    margin-top: -240px;
    margin-bottom: 10px;
  }

  .essent a{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  body {
    background-image: url('web.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }