
h1{
    margin-top: 230px;
    text-align: center;
}

.text{
  background-color: rgba(0, 0, 0, 0.377);
  max-width: 70%;
  text-align: center;
  margin: auto;
}

h4{
    margin-top: 50px;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    overflow: hidden;
    display: flex;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  /* select{} */
  body {
    background-image: url('web.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  